<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# 1 There is more to if

In [2]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
elif name == 'Aquaman':
    print('Hello Aquaman')
elif name == 'Catwoman':
    print('Catwoman')
else:
    print('Hello World!')

Hello Batman!

In [3]:
name = 'Iron man'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
elif name == 'Aquaman':
    print('Hello Aquaman')
elif name == 'Catwoman':
    print('Catwoman')
else:
    print('Hello World!')

Hello World!

In [5]:
name = 'Iron man'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
elif name == 'Aquaman':
    print('Hello Aquaman')
elif name == 'Catwoman':
    print('Catwoman')

# 2 Asking questions

In [6]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [7]:
'apple' in fruits

True

In [8]:
'celery' in fruits

False

In [9]:
'cherry' not in fruits

True

In [10]:
'brocoli' in vegetables and 'banana' in fruits
'peach' in fruits and 'kale' not in vegetables

False

In [12]:
'brocoli' in vegetables or 'banana' in fruits
'peach' in fruits or 'kale' not in vegetables

False

In [11]:
'broc' in 'brocoli'

True

## 3.1 Asking Math questions

In [13]:
10>=3

True

In [16]:
x=3
x>4

False

In [19]:
(x>5) and (x<15) # x = 3 above
5 < x <15

False

# 4 Python stores information in different formats or types

In [22]:
x = int(12.0033)
print(x, type(x))

12 <class 'int'>

In [24]:
x = int(1.234)
print(x)

1

In [25]:
x = str(1.234) # x is a string
print(x, type(x))

1.234 <class 'str'>

In [41]:
x = float(x)      
print(x, type(x))  # x is now a decimal number

1.234 <class 'float'>

# 5 Never compare floats directly

## 5.1 The Problem

In [26]:
a = 0.1 # cannot compare decimals
a3 = 0.3
a * 3 == a3

False

In [40]:
f'{0.3:.17f}' # print 0.3 to 19 decimals

'0.29999999999999999'

## 5.2 A solution

In [32]:
(a*3 -a3) # as close to 0 as possible

5.551115123125783e-17

In [34]:
(a*3 -a3) < 1E-10

True

In [35]:
abs(a*3 -a3) < 1E-10

True

In [39]:
import numpy as np
np.isclose(a*3, a3) # see if the two is close to being the same

True

# 6 Combining English and variables

In [42]:
name = 'Batman'
print('hello {name}!')

hello {name}!

In [44]:
name = 'Batman' # place variable into str
print(f'hello {name}!')

hello Batman!

In [48]:
name = 'Batman'
print(f'hello {name.upper()}!')

hello BATMAN!

In [52]:
x = 10
print(f'The value of {x} squared is {x**2}!')

The value of 10 squared is 100!

In [54]:
text = 'I am hungry!' #aligned left
print(f'{text}')

I am hungry!

In [60]:
print(f'{text:>30}') #aligned right

                  I am hungry!

In [61]:
print(f'{text:^30}') #aligned centre

         I am hungry!

In [62]:
print(f'{text:^60}') #aligned centre

                        I am hungry!

In [63]:
print(f'{text:>60}') #aligned right

                                                I am hungry!

## 6.1 Structure of f-strings

In [64]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

In [71]:
print(f'The cube of 2 to 4 decimal places is {2**3:.4f}')

The cube of 2 to 4 decimal places is 8.0000

In [69]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 3.100628e+01

# 7 Escape sequences

In [72]:
print('Line 1\n\tLine 2\n\t\tLine 3')

Line 1
	Line 2
		Line 3

In [73]:
print('You\'re twenty years old.')

You're twenty years old.

In [75]:
print('A\B\C') #so can?

A\B\C

In [78]:
A = 'ape' # how come it doesnt define ABC?
B = 'banana'
C = 'cinnamon'
print('A\nB\nC')

A
B
C

In [82]:
A = 'ape' 
B = 'banana'
C = 'cinnamon'
print(f'{A}\n{B}\n{C}') # f string cannot include \

ape
banana
cinnamon

In [79]:
print('A\tB\tC')

A	B	C

In [83]:
print(f'{A}\t{B}\t{C}')

ape	banana	cinnamon

# 8 Computers read = from Right to Left!

In [85]:
x = 40
y = x + 2
print(y)

42

In [86]:
y = 40
y = y + 2
print(y)

42

In [87]:
y = 40
y += 2    # Same as y = y + 2
y

42

In [91]:
y = 40
y *= 2    # Same as y = y + 2
y

80

# 9 Shorter and Cleaner Code

# 10 Python can be a prima-donna.

# 11 Best Practices for Scientific Computing

# 12 Looking for help

In [92]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.